body {
  margin: 0;
}
.nav {
  height: 25px;
  background-color: #026aa7;
  display: flex;
  justify-content: space-between;
}
.button {
  background-color: lightblue;
  border: lightblue;
  font-style: italic;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(150, 216, 230);
}

.navInput {
  background-color: lightblue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
}

.navInput:hover {
  background-color: rgb(150, 216, 230);
}

.navP {
  color: darkseagreenx;
  height: 25px;
  margin: 4px 2px;
  cursor: pointer;
  font-style: italic;
}

.navP:hover {
  color: white;
}

.newBoard {
  display: flex;
  align-items: center;
}

.createNewBoard {
  background: transparent;
  border: none;
}

.newList {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 20px;
}

.createNewList {
  background: transparent;
  border: none;
  margin-left: 5px;
}

.boardsContainer {
  display: flex;
  /* margin: 10px; */
  margin-left: 25px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.boardContainer {
  background-color: gainsboro;
  margin: 10px;
  padding: 10px;
  width: 150px;
  text-align: center;
}

.boardName {
  text-decoration: none;
}

.newBoard {
  background-color: honeydew;
  margin: 10px;
  padding: 10px;
  text-align: start;
}

.listsContainer {
  display: flex;
  flex-wrap: wrap;
}

.listContainer {
  background-color: aliceblue;
  /* height: 150px; */
  width: 200px;
  margin: 10px;
}

.listName {
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  /* width: 125px; */
  /* height: 125px; */
}

/* .card {
  border-color: black;
  border-width: 5px;
} */

.draggable {
  margin: 10px;
  padding: 10px;
  background-color: white;
  margin: black;
  cursor: move;
}

.newCardInput {
  margin: 5px;
}
