body {
  margin: 0;
}
body,
a,
button,
html,
input,
select,
textarea {
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.nav {
  height: 30px;
  background-color: #026aa7;
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: lightblue;
  border: lightblue;
  font-style: italic;
  color: white;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2.5px 2px 1px 2px;
  height: 23px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(150, 216, 230);
}

.navInput {
  background-color: lightblue;
  border: none;
  border-radius: 2px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2.5px 2px 1px 4px;
  height: 22px;
}

.navInput::placeholder {
  color: white;
}

.navInput:hover {
  background-color: rgb(150, 216, 230);
}

.navP {
  color: darkseagreenx;
  height: 25px;
  margin: 4px 2px;
  cursor: pointer;
  font-style: italic;
}

.navP:hover {
  color: white;
}

.newBoard {
  display: flex;
  align-items: center;
}

.createNewBoard {
  background: transparent;
  border: none;
}

.newList {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 20px;
}

.createNewList {
  background: transparent;
  border: none;
  margin-left: 5px;
}

.boardsContainer {
  display: flex;
  margin-left: 25px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.boardContainer {
  background-color: gainsboro;
  margin: 10px;
  padding: 10px;
  width: 150px;
  text-align: center;
}

.boardName {
  text-decoration: none;
}

.newBoard {
  background-color: honeydew;
  margin: 10px;
  padding: 10px;
  text-align: start;
}

.listsWithBoardName {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.boardNameInList {
  margin-top: 10px;
  align-self: center;
  cursor: pointer;
}
.boardNameInput {
  margin-top: 10px;
  align-self: center;
}

.listsContainer {
  display: flex;
  flex-wrap: wrap;
}

.listContainer {
  background-color: rgb(203, 216, 228);
  border-radius: 5px;
  width: 17.5vw;
  margin: 10px;
}

.listName {
  /* text-align: center; */
  margin-left: 15px;
  margin-top: 15px;
  font-size: 75%;
}

.listNameInput {
  margin: 15px 4px 4px 10%;
  width: 75%;
  background-color: rgb(203, 216, 228);
}

.dropMargin {
  margin-top: 30px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
}

.draggable {
  margin: 10px;
  padding: 10px;
  background-color: white;
  margin: black;
  cursor: pointer;
  border: 1px solid black;
}

.newCardInput {
  margin: 5px;
}

.fa-edit {
  cursor: pointer;
}

/* .avoid-clicks {
  pointer-events: none;
} */
.avoidClicks {
  background: transparent;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.64);
}

.cardDetailsContainer {
  display: grid;
  background-color: #f4f5f7;
  position: absolute;
  border-radius: 5px;
  margin-top: 7.5vh;
  margin-left: 17.5vw;
  width: 65vw;
  height: 100vh;
}

.nameCardDetails {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 5%;
}
body,
button,
html,
input,
select,
textarea {
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.cardDescription {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 5%;
  display: flex;
  flex-direction: column;
}

.cardDescriptionText {
  width: 50%;
  grid-column: 1/2;
  grid-row: 3/4;
}

.cardComments {
  margin: 5%;
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 4/5;
}
.closeCardDetail {
  grid-column: 2/2;
  grid-row: 1/2;
  width: 5px;
  height: 5px;
  justify-content: end;
}
.cardSideBar {
  display: flex;
  flex-direction: column;
  grid-column: 2/2;
  grid-row: 2/8;
}
h3 {
  color: #5e6c84;
}
.darker {
  background-color: #d8dbe0;
  width: auto;
  font-size: 120%;
}
.darker:hover {
  background-color: #c0c8d4;
  cursor: pointer;
}
